<!DOCTYPE html>
<html lang="en">
<%- include("templates/header") %>

    <body>
        <%- include("templates/navbar") %>

            <div class="has-text-centered my-6">
                <p class="is-size-1">Express <span class="has-text-weight-bold">Server</span></p>
                <p class="is-size-3 has-text-weight-bold">Bienvenido</p>
            </div>
    </body>

</html>