<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%= base_url %>css/login.css"">
</head>
<body>
    <div class="content" id="contenido">
    <h1 class="titulo">Login</h1>
    <form action="" id="formulario">
        <div class="labelUser">
            <label for="">Usuario:</label>
            <input type="email" name="" id="input_email" placeholder="User_email">
        </div>
        <div class="labelPass">
            <label for="">Contraseña: </label>
            <input type="text" name="" id="input_password" placeholder="User_password">
        </div>
        <button type="submit" class="btnIngresar">Ingresar</button>

    </form>
    </div>
    
    <script src="../js/login.js"></script>
    </body>

</html>