<!DOCTYPE html>
<html lang="en">

<%- include("templates/header") %>

    <body>

        <div class="has-text-centered my-6">
            <p class="is-size-1">Express <span class="has-text-weight-bold">Server</span></p>
            <p class="is-size-3 has-text-weight-bold">Crear Cuenta</p>
        </div>


        <% if (duplicado.length> 0) { %>
            <div class="column is-one-third mx-auto my-10">
                <% duplicado.forEach(dupl=> { %>

                    <p
                        class="notification is-danger has-text-white is-uppercase is-size-7 has-text-centered py-2 mb-1 has-text-weight-bold">
                        <%= dupl.msg %>
                    </p>

                    <% }); %>
            </div>
            <% } %>



                <div class="columns is-centered mt-5">
                    <div class="column is-one-quarter has-background-white py-4 px-4 box is-rounded">
                        <form class="colum is-centered" method="" action="" novalidate>
                            <p class="help is-danger" id="empty_inputs_message"></p>
                            <div class="mb-3">
                                <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                    Nombre</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="text" class="input is-fullwidth has-padding-small mt-1"
                                        placeholder="Nombre" name="user_name"
                                        value="<%= usuario ? usuario.user_name : ''%>" id="user_name_input" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user" id="iconGood"></i>
                                    </span>
                                    <p class="help is-danger" id="user_name_message"></p>
                                </div>
                                <% if (errores.length> 0) { %>
                                    <% errores.forEach(error=> { %>
                                        <%if(error.path=='user_name' ){ %>
                                            <p class="help is-danger ">Nombre no puede ir vacío</p>
                                            <% } %>
                                                <% }); %>
                                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                    Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="email" class="input is-fullwidth has-padding-small mt-1"
                                        placeholder="Email" name="user_email" id="user_email_input" value="" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope" id="iconGood"></i>
                                    </span>
                                </div>
                                <p class="help is-danger has-text-weight-bold" id="email_message"></p>
                                <% if (errores.length> 0) { %>
                                    <% errores.forEach(error=> { %>
                                        <%if(error.path=='user_email' ){ %>
                                            <p class="help is-danger"> Email no válido</p>
                                            <% } %>
                                                <% }); %>
                                                    <% } %>


                            </div>
                            <div class="mb-3">
                                <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                    Contraseña</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="password" class="input is-fullwidth has-padding-small mt-1"
                                        placeholder="******" name="user_password" id="user_password_input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock" id="iconGood"></i>
                                    </span>
                                </div>
                                <p class="help is-danger" id="password_message"></p>
                                <% if (errores.length> 0) { %>
                                    <% errores.forEach(error=> { %>
                                        <%if(error.path=='user_password' ){ %>
                                            <p class="help is-danger has-text-weight-bold" id="password_message">La
                                                contraseña debe de ser de exactamente 6 caracteres</p>
                                            <% } %>
                                                <% }); %>
                                                    <% } %>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" id="show_password_cb">
                                        Ver contraseña
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="" class="is-size-7 is-uppercase has-text-grey-darker has-text-weight-bold">
                                    Repetir Contraseña</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="password" class="input is-fullwidth has-padding-small mt-1"
                                        placeholder="******" name="repetir_password" id="repeat_user_password_input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock" id="iconGood"></i>
                                    </span>
                                    <p class="help is-danger" id="repeat_password_message"></p>
                                    <% if (errores.length> 0) { %>
                                        <% errores.forEach(error=> { %>
                                            <%if(error.path=='repetir_password' ){ %>
                                                <p class="help is-danger has-text-weight-bold">Las contraseña debe ser
                                                    igual a la anterior</p>
                                                <% } %>
                                                    <% }); %>
                                                        <% } %>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" id="show_password_cb2">
                                        Ver contraseña
                                    </label>
                                </div>
                            </div>
                            <div class="field is-grouped is-grouped-right mt-5">
                                <div class="control">
                                    <a class="button is-danger is-outlined" href="/users/users">Cancelar</a>
                                </div>
                                <div class="control">
                                    <button class="button is-link is-outlined" type="submit"
                                        id="send_btn">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">

                            <div class="has-text-centered my-6">
                                <p class="is-size-1">Se ha <span class="has-text-weight-bold">Creado</span>
                                    correctamente el usuario</p>
                                <p class="is-size-3 has-text-weight-bold" style="color: rgb(25, 0, 255);" id="userCreated"> </p>
                            </div>

                            <div class="columns is-centered">
                                <div class="column is-one-third">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="content">
                                                <div class="is-flex justify-center">
                                                    <a class="button is-primary is-light is-fullwidth"
                                                        onclick="locationReplace()">Aceptar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    </body>
    <script src="<%= base_url %>../js/new-user.js"></script>

</html>