<!DOCTYPE html>
<html lang="en">

<%- include("./header") %>

    <body>

        <div class="has-text-centered my-6">
            <p class="is-size-1">Express <span class="has-text-weight-bold">Server</span></p>
            <p class="is-size-3 has-text-weight-bold">
                <%=pagina%>
            </p>
        </div>

        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="is-flex justify-center">
                                <a class="button is-primary is-light is-fullwidth"
                                    href="./registro">Aceptar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="<%= base_url %>"></script>

</html>